@page
@model LoginModel

<div class="bg-primary text-center text-white p-2"><h4>Log In</h4></div>

@if(ModelState.ErrorCount > 0)
{
    <div asp-validation-summary="All" class="alert alert-danger text-danger"></div>
}

<form method="post">
    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
    <div class="mb-2">
        <label class="form-label">UserName</label>
        <input class="form-control" asp-for="UserName" />
    </div>
    <div class="mb-2">
        <label class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form>